@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>For the homework, this page would list all of the shows.</h3>

<h3>Here is a link to the detailed search page: @Html.ActionLink("Detailed Search", "DetailedSearch")</h3>